# Unity meta files should be tracked!
!*.meta

# Unity generated / cache (usually not inside Assets, but safe)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# IDE
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase native binaries (too large for GitHub)
Firebase/Plugins/x86_64/
Firebase/Plugins/arm64-v8a/
Firebase/Plugins/armeabi-v7a/
Firebase/Plugins/iOS/
