<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943083155926-mc0uf10aff2cc3r8qeu64cd57v4d0i6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943083155926-mc0uf10aff2cc3r8qeu64cd57v4d0i6a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943083155926-eacjal1a6t3ipofhqh4rl4m47qhki78p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCO5fzudiZ09QWkQq9Kz_VKAdr_g9hEirk</string>
	<key>GCM_SENDER_ID</key>
	<string>943083155926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>linkdesks.tile.match.story</string>
	<key>PROJECT_ID</key>
	<string>tile-story-d8095</string>
	<key>STORAGE_BUCKET</key>
	<string>tile-story-d8095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943083155926:ios:8164dca26136c345fd7477</string>
</dict>
</plist>